[ODBC Data Sources]
supportlive=support Database
supporttest=test database
supportobb = OBB Support database
supporttmx = TMX Support database

[supportlive]
Description={{ supportlive_description }}
Driver={{ supportlive_driver }}
Database={{ supportlive_database }}
Hostname={{ supportlive_hostname }}
Service={{ supportlive_service }}
Protocol={{ supportlive_protocol }}
Servername={{ supportlive_servername }}
Port={{ supportlive_port }}

[supporttest]
Description={{ supporttest_description }}
Driver={{ supporttest_driver }}
Database={{ supporttest_database }}
Hostname={{ supporttest_hostname }}
Service={{ supporttest_service }}
Protocol={{ supporttest_protocol }}
Servername={{ supporttest_servername }}
Port={{ supporttest_port }}

[supportobb]
Description={{ supportobb_description }}
Driver={{ supportobb_driver }}
Database={{ supportobb_database }}
Hostname={{ supportobb_hostname }}
Service={{ supportobb_service }}
Protocol={{ supportobb_protocol }}
Servername={{ supportobb_servername }}
Port={{ supportobb_port }}

[supporttmx]
Description={{ supporttmx_description }}
Driver={{ supporttmx_driver }}
Database={{ supporttmx_database }}
Hostname={{ supporttmx_hostname }}
Service={{ supporttmx_service }}
Protocol={{ supporttmx_protocol }}
Servername={{ supporttmx_servername }}
Port={{ supporttmx_port }}
 
