[ODBC Data Sources]
supportlive=support Database
supporttest=test database
supportobb = OBB Support database
supporttmx = TMX Support database

[supportlive]
Description={{ supportlive_description }}
Driver={{ database_driver }}
Database={{ supportlive_database }}
Hostname={{ database_hostname }}
Service={{ database_service }}
Protocol={{ database_protocol }}
Servername={{ database_servername }}
Port={{ database_port }}

[supporttest]
Description={{ supporttest_description }}
Driver={{ database_driver }}
Database={{ supporttest_database }}
Hostname={{ database_hostname }}
Service={{ database_service }}
Protocol={{ database_protocol }}
Servername={{ database_servername }}
Port={{ database_port }}

[supportobb]
Description={{ supportobb_description }}
Driver={{ database_driver }}
Database={{ supportobb_database }}
Hostname={{ database_hostname }}
Service={{ database_service }}
Protocol={{ database_protocol }}
Servername={{ database_servername }}
Port={{ database_port }}

[supporttmx]
Description={{ supporttmx_description }}
Driver={{ database_driver }}
Database={{ supporttmx_database }}
Hostname={{ database_hostname }}
Service={{ database_service }}
Protocol={{ database_protocol }}
Servername={{ database_servername }}
Port={{ database_port }}
 
